/* .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: #ccc;
	transition: 0.4s;
}

.slider::before {
	content: "";
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
} */

/* toggle in label designing */
.root {
	--color-secondary: #101d2c;
}
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(2rem, min-content));
	justify-items: center;
	align-items: center;
	column-gap: 0.5rem;
}
.toggle {
	position: relative;
	display: inline-block;
	width: 2.5rem;
	height: 1.25rem;
	background-color: rgb(198, 200, 201); /*Chromium*/
	border-radius: 30px;
	border: 1px solid grey;
	justify-items: center;
	align-items: center;
}

/* After slide changes */
.toggle::after {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: #fff;
	top: 0.06rem;
	left: 0.1rem;
	transition: all 0.5s;
	border: 1px solid gray;
}
.toggle:hover {
	border: 2px solid rgb(110, 41, 101);
}
/* Toggle text */
p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	justify-self: left;
	font-size: 1rem;
}
.left {
	justify-self: end;
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
	left: 1.3rem;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
	background-color: rgb(0, 0, 128); /*navy blue*/
}

/* Checkbox vanished */
.checkbox {
	display: none;
}
.funnel {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(2rem, max-content));
	justify-items: center;
	align-items: center;
}
.funnel_checkbox {
	padding: 0.5rem;
	accent-color: rebeccapurple;
}

.funnel_label {
	padding: 0.5rem;
	margin-right: 0.5rem;
	font-family: cursive;
	font-weight: 500;
	font-size: 1.2rem;
}
.qty {
	display: inline-flex;
}
.qty input {
	width: 75%;
	border: 3px solid #24becc;
	color: #3f037b;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
}

.qty input:hover,
.qty input:active,
.qty input:focus {
	animation: color-change 2s linear infinite;
}

@keyframes color-change {
	0%,
	100% {
		border-color: #f3389c;
	}

	25% {
		border-color: #7d64fc;
	}

	50% {
		border-color: #0d3b66;
	}

	75% {
		/* border-color: #3f037b; */
		border-color: gold;
	}
}
.quantity-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(2rem, 3rem));
	grid-template-rows: 2rem;
	column-gap: 0.2rem;
	font-size: 1.5rem;
	font-weight: 500;
	justify-items: center;
	align-items: center;
}

.quantity-btn {
	fill: #f33851;
	/* padding: 5px 10px; */
	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	font-family: inherit;
	justify-self: left;
}
/* .quantity-btn:hover {
	background-color: #7d64fc;
} */

.quantity-input {
	width: 70%;
	text-align: center;
	border-radius: 0.5rem;
	justify-self: center;
}
.quantity-input:hover,
.quantity-input:active,
.quantity-input:focus {
	animation: color-change 2s linear infinite;
}
.quantity-box p {
	justify-self: center;
	/* margin-left: 1rem; */
}
.left {
	fill: green;
	justify-self: right;
}
/* .test {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
		url(./Map_of_USA_showing_state_names.png);
} */
